<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/_bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/_bower_components/normalize-css/normalize.css">
  <!-- endbuild -->

  <!-- Typekit code for Museo Sans -->
  <script type="text/javascript" src="//use.typekit.net/zkb4pxf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

  {% include about_panel.html %}
  {% include more_panel.html %}
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </div> <!-- /container -->

  <!-- build:js(app) /js/scripts.js -->
  <script src="/js/scroller.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/panels.js"></script>
  <script src="/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>
