---
layout: home
home: true
title: Cole Reed on Github
---
<section class="title">
  <h3>Creative Coder / Designer.</h3>
  <p>Currently attending <a href="http://www.portlandcodeschool.com/">Portland Code School</a></p>
  <hr>
</section>

<section class="latest-post">
  {% include latest_post.html %}
  <hr>
</section>
<!-- TODO: Add links to lightning talks.  -->
<!-- <hr>
    {% include recent_talk.html %} -->

<section class="projects">
  {% include projects.html %}
  <!-- <hr> -->
</section>

<!-- <section class="about">
  {% include about.html %}
</section> -->
