<div id="about-panel" class="panel">
  <a class="panel-button panel-close-btn">Close</a>
  <div class="panel-content">
    <h1>Cole Reed</h1>
    <div class="bio">
      <p><img src="http://gravatar.com/avatar/11f7e7bb9ba481ec38d1836fd7aa25e1?s=100" alt="photo of a pumpkin I carved for Halloween">I am a creative problem solver that loves spending my time taking apart, cutting, crafting, pasting and gluing just about anything I get my hands on both physically and digitally. I have a wicked sense of humor and a love of toys, games and pretty much anything handmade.</p>
    </div>
    <ul class="links">
      <li><a target="_blank" href="http://htmlpreview.github.com/?https://github.com/ichabodcole/resume/blob/master/colereed_resume_2013.html">Resume</a></li>
      <li><a target="_blank" href="http://auralgrey.com">Portfolio</a></li>
      <li><a target="_blank" href="https://github.com/ichabodcole">Code</a></li>
    </ul>
    <div class="contact">
      <div><a href="mailto:ichabodcole@gmail.com">ichabodcole@gmail.com</a></div>
      <div>Portland, Or</div>
    </div>
  </div>
</div>