<footer>
  <div class="frame">
    <ul class="social-links">
      <li><a href="https://twitter.com/ichabodcole"><i class='fa fa-twitter'></i></a></li>
      <li><a href="http://www.linkedin.com/in/colereed"><i class='fa fa-linkedin'></i></a></li>
      <li><a href="https://plus.google.com/+ColeReedDesign"><i class='fa fa-google-plus'></i></a></li>
      <li><a href="https://github.com/ichabodcole"><i class='fa fa-github-alt'></i></a></li>
    </ul>
    <div class="copyright">All rights reserved. &copy; 2013 Cole Reed</div>
  </div>
</footer>