@import 'colors';

footer {
  text-align: left;
  border-top: 1px solid $light-gray;

  ul, li, span {
    padding: 0;
    margin: 0;
  }

  .copyright {
    float: left;
    width: 65%;
    display: block;
    padding: 0 1em;
  }

  .social-links {
    float: left;
    width: 35%;

    li {
      font-size: 1.2em;
      padding: 0 0.25em;
      display: inline-block;
    }
  }

}

@media (max-width:30rem) {
  footer {
    text-align: center;

    .social-links {
      text-align: center;
      width: 100%;

      li {
        padding: 0.25em 0.25em;
      }
    }

    .copyright {
      float: none;
      width: 100%;
    }
  }
}