/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

@import 'mixins';
@import 'colors';
@import 'typography';
@import 'header';
@import 'footer';
@import 'panels';
@import 'about_panel';
@import 'more_panel';
@import 'scrollbar';

*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.container {
  text-align: center;
  transition: 0.25s opacity;
}

.frame {
  margin: 0 auto;
  max-width: 50em;
  padding: 1em;
}

.frame:after {
  @include clearfix;
}

.group:after {
  @include clearfix;
}

.cf:after {
  @include clearfix;
}

// /*****************************************************************************/
// /*
// /* Home
// /*
// /*****************************************************************************/
// ul.posts {
//   list-style-type: none;
//   margin-bottom: 2em;
// }

// ul.posts li {
//   line-height: 1.75em;
// }

// ul.posts span {
//   color: #aaa;
//   font-family: Monaco, "Courier New", monospace;
//   font-size: 80%;
// }

// /*****************************************************************************/
// /*
// /* Posts
// /*
// /*****************************************************************************/

// /* standard */
// .post pre {
//   border: 1px solid #ddd;
//   background-color: #eef;
//   padding: 0 .4em;
// }

// .post ul, .post ol {
//   margin-left: 1.35em;
// }

// .post code {
//   border: 1px solid #ddd;
//   background-color: #eef;
//   padding: 0 .2em;
// }

// .post pre code {
//   border: none;
// }

// /* terminal */
// .post pre.terminal {
//   border: 1px solid #000;
//   background-color: #333;
//   color: #FFF;
// }

// .post pre.terminal code {
//   background-color: #333;
// }
