@import 'colors';

#more-panel {
  right: 0;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.25);

  .panel-content {
    padding: 0;
  }

  .posts {
    margin: 0;
    padding: 0;
  }

  .post {
    position: relative;
    padding: 2em 4.5em;
    border-bottom: $gray-border;

    background-color: white;
    transition: 0.35s all;

    a {
      color: $dark-gray;
      position: relative;
      display: block;
      text-decoration: none;
      z-index: 1;
    }

    a:visited {
      color: $dark-gray;
    }

    a:hover + .border {
      border-left: 5px solid $dark-gray;
      border-right: 5px solid $dark-gray;
    }

    .border {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-left: 0 solid white;
      border-right: 0 solid white;
      transition: 0.35s all;
      z-index: 0;
    }

    .title, .subtitle {
      font-weight: 300;
      padding: 0;
      margin: 0;
    }

    .title {
      font-size: 2em;
    }

    .subtitle {
      font-size: 1.2em;
      margin-top: 0.5em;
    }
  }

  .border:hover + a:hover {
    // color: white;
    // background-color: $dark-gray;
    // box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
    border-left: 5px solid $dark-gray;
    border-right: 5px solid $dark-gray;
  }
}