@import 'colors';

.panel-left {
  text-align: center;
  position: fixed;
  height: 100%;
  max-width: 30em;
  width: auto;
  z-index: 3;
  background: white;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
  padding: 0;

  .panel-button {
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 1.5rem 0 1rem;
    display: block;
    cursor: pointer;
    // border: $test-border;
    transition: 0.25s all;
    background: white;
  }

  .panel-button:hover {
    color: white;
    background: $light-gray;
  }

  .panel-content {
    position: static;
    height: 100%;
    max-height: 90%;
    overflow-y: scroll;
    // direction: rtl;
    padding: 0 4.5rem;

    h1 {
      font-size: 3.5em;
      font-weight: 100;
      text-align: center;
      border-bottom: $gray-border;
      padding: 0 0 1.5rem;
      margin: 0 auto;
      // border: $test-border;
    }

    .bio {
      text-align: left;
      padding: 1rem 0;

      img {
        width: 100px;
        height: 100px;
        padding: 0;
        margin: 0;
        padding-right: 1em;
        float:left;
        box-sizing: content-box;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 1em;
        line-height: 1.4;
      }
    }

    .links {
      font-size: 2em;
      font-weight: 100;
      text-align: left;
      padding: 0.5em;
      margin: 0;
      border-top: $gray-border;
      border-bottom: $gray-border;

      li {
        padding: 0.5rem 0;

        a {
          cursor: pointer;
        }
      }
    }

    .contact {
      line-height: 1.5;
      font-size: 1.2em;
      font-weight: 300;
      text-align: left;
      padding: 1em 0;
    }
  }
}