@import 'colors';

html {
  font-size: 16px;
  color: #555;
}

a {
  color: $dark-gray;
  text-decoration: none;
}

a:hover {
  color: $middle-gray;
}

article {
  text-align: left;
  padding: 0 2rem;
  line-height: 1.6;

  a{
    color:black;
    font-style: italic;
    text-decoration: none;
  }

  a:hover, a:visited {
    color: $middle-gray;
  }
}

article > p:first-of-type:first-letter {
  font-size: 2.8em;
  padding-right: 0.2em;
  line-height: 1;
  float:left;
}

p {
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0 0;
}

@media (max-width:30em) {

  html {
    font-size: 14px;
  }

}