@import 'colors';

html {
  font-size: 16px;
  color: #555;
}

a {
  color: $dark-gray;
  text-decoration: none;
}

a:hover {
  color: $middle-gray;
}

article {
  text-align: left;

  p{
    padding: 0 2rem;
  }

  a{
    color:black;
    font-style: italic;
    text-decoration: none;
  }

  a:hover, a:visited {
    color: $middle-gray;
  }
}

p {
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0 0;
}

li {
  list-style: none;
}

@media (max-width:30em) {

  html {
    font-size: 14px;
  }

}